*{
    padding: 0;
    margin: 0;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

body{
    background-image: url(../images/nice.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    font-size: 20px;
}

.nav-link {
    margin-left: 50px;
}

.title{
    letter-spacing: 3px;
    font-size: 60px;
}

span{
    color: #6ed3e4;
}

.title{
    font-size: 50px;
    text-align: center;
}

.label{
    text-align: center;
    letter-spacing: 3px;
}

form{
    border-radius: 20px;
    background-color: #0d3356;
    padding: 40px;
    margin-bottom: 20px;
}

input{
    background-color: none;
}

.submit-form{
    text-align: center;
}

.submit{
    letter-spacing: 2px;
    border-radius: 2px;
    color: white;
    padding: 10px;
    background-color: #28474d;
    text-decoration: none;
}

.submit:hover{
    color: white;
    background-color: #0a62b4;
    transition: .9s;
}